@import '_fork_subscribing_pricing';
@import '_variables';
@import '_hear_what_you_get';
@import '_revolutionary_editor';

body{
    font-family: 'Montserrat', sans-serif;
}
// @import "_variables";
// @import "_mixins";
// @import "_reset";
// @import "header";
// @import "about-fork";
:root {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    width: 100%;
}

.wrapper {
    padding: 0 1rem;
}
button {
    cursor: pointer;
}

 
